html {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    width: 600px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.mainlogo img {
    width: 30%;
    margin-top: 1rem;
}

nav ul {
    display: flex;
    width: 40%;
    margin-left: 12rem;
}

nav li {
    margin-right: 2rem;
    list-style: none;
}

nav ul a {
    text-decoration: none;
    color: #777777;
}

nav li:nth-child(1) {
    padding-right: 1rem;
    border-right: solid grey;
}

nav li:nth-child(2) {
    padding-right: 1rem;
    border-right: solid grey;
}

.search {
    color: #C62F5A;
    font-size: 2rem;
    display: block;
    position: absolute;
    top: 43px;
    right: 450px;
}

.cart {
    color: #C62F5A;
    font-size: 2rem;
    display: block;
    position: absolute;
    top: 43px;
    right: 400px;
}

.banner {
    width: 100%;
}

/*Put this banner as a background image to position some banner elements on top of it*/

.main-banner {
    background-image: url("/images/pride.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: -250px;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-banner h1 {
    color: white;
    font-size: 2rem;
    padding-left: 15rem;
    padding-right: 2rem;
    padding-top: 14rem;
    text-align: right;
}

.main-banner p {
    color: white;
    padding-left: 16rem;
}

.banner-button {
    color: white;
    background-color: #E6807A;
    width: fit-content;
    padding: 1rem;
    margin-left: 23rem;
    border-radius: 0.5rem;
    font-weight: bold;
}

.banner-button:active {
    background: #985482;
    transform: scale(1);
    box-shadow: 0 5px rgb(187, 187, 187);
}

.banner-button a {
    color: white;
    text-decoration: none;
}

.banner-button a:hover {
    color: rgb(252, 230, 238);
}

/*Added the width to the container of the whole section*/

.categories {
    width: 100%;
}

.occasion {
    display: flex;
    flex-direction: row;
}

.ocassion-image img {
    width: 80%;
    padding-top: 2rem;
}


.occasion-info {
    width: 50%;
    padding: 1rem;
}

#occasion-button {
    background-color: #C62E5A;
    color: white;
    font-weight: bold;
    padding: 1rem 3rem;
    border-radius: 0.5rem;
    position: absolute;
    text-decoration: none;
}

#occasion-button:hover {
    color: #E6807A;
}

#occasion-button:active {
    background: #811e3a;
    transform: scale(1);
    box-shadow: 0 5px rgb(187, 187, 187);
}

.occasion-info h2 {
    color: #C62E5A;
}


/*Flavour category*/

.flavour {
    display: flex;
    flex-direction: row-reverse;
}

.flavour-image {
    width: 50%;
    padding-top: 2rem;
}

.flavour-image img {
    width: 100%;
}

.flavour-info {
    width: 50%;
    padding: 1rem;
}

#flavour-button {
    background-color: #843455;
    color: white;
    padding: 1rem 3rem;
    border-radius: 0.5rem;
    position: absolute;
    text-decoration: none;
    font-weight: bold;
}

#flavour-button:hover {
    color: #d2b7c2;
}

#flavour-button:active {
    background: #642942;
    transform: scale(1);
    box-shadow: 0 5px rgb(187, 187, 187);
}

.flavour-info h2 {
    color: #843455;
}

/*Custom Category*/

.custom {
    display: flex;
    flex-direction: row;
}

.custom-image {
    width: 50%;
    padding-top: 2rem;
}

.custom-image img {
    width: 100%;
}

.custom-info {
    width: 50%;
    padding: 1rem;
}

#custom-button {
    background-color: #41817F;
    text-decoration: none;
    font-weight: bold;
    padding: 1rem 3rem;
    border-radius: 0.5rem;
    position: absolute;
    color: white;
}

#custom-button:hover {
    color: #76dcd8;
}

#custom-button:active {
    background: #2e5b59;
    transform: scale(1);
    box-shadow: 0 5px rgb(187, 187, 187);
}


.custom-info h2 {
    color: #41817F;
}

/*clients section*/

.our-clients {
    background-color: #ededed;
    padding: 1rem;
    margin-top: 2rem;
}

.our-clients h2 {
    text-align: center;
}

.our-clients p {
    display: none;
}

.logo-gallery {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    justify-content: center;
}

div.logo {
    background-color: gainsboro;
    margin: 1rem;
    border-radius: 1rem;
    padding: 1rem;
}

#logometro {
    height: 132px;
    background-color: gainsboro;
}

#logometro img {
    margin-top: 2rem;
}

.logo img {
    width: 100px;
}


.contact ul {
    padding-left: 0px;
}

.contact li {
    list-style: none;
}

.contact li a {
    text-decoration: none;
    color: grey;
}


/*Footer styles*/

.stripe img {
    width: 600px;
    height: 18px;
}

div.contact {
    width: 300px;
    float: left;
}

.social-media {
    display: flex;
    float: left;
}

.fa-brands {
    margin-top: 1rem;
    padding: 1rem;
    font-size: 2rem;
    color: #cccccc;
    margin-left: 2rem;
}

/**** Media queries for 1080 screen ****/

@media screen and (min-width:1080px) {

    body {
        margin: 0 auto;
        width: 1080px;
    }

    .mainlogo img {
        width: 30%;
        margin: 0 auto;
    }

    /*navigation*/

    nav ul {
        justify-content: center;
        margin: 0 auto;
    }

    nav li {
        margin-right: 2rem;
        list-style: none;
    }

    nav ul a {
        text-decoration: none;
        color: #777777;
        font-size: 1.5rem;

    }

    nav li:nth-child(1) {
        padding-right: 1rem;
        border-right: solid grey;
    }

    nav li:nth-child(2) {
        padding-right: 1rem;
        border-right: solid grey;
    }

    .main-banner {
        background-image: url("/images/PRIDE.jpg");
        height: 500px;
        background-position: -100px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .main-banner h1 {
        color: white;
        font-size: 2.5rem;
        width: 100%;
        text-align: right;
        padding-left: 35rem;
        padding-right: 5rem;
        margin-bottom: 10px;
    }

    .main-banner p {
        color: white;
        padding-left: 43rem;
        margin-top: 3px;
    }

    .banner-button {
        color: white;
        background-color: #E6807A;
        width: fit-content;
        padding: 1rem;
        margin-left: 50rem;
        border-radius: 0.5rem;
        font-weight: 700;
    }

    .banner-button a {
        color: white;
        text-decoration: none;
    }

    .banner-button a:hover {
        color: rgb(252, 230, 238);
    }

    /*Gategories with float to achieve layout for desktop*/

    .categories {
        display: flex;
        justify-content: center;
        margin-left: 2rem;
    }

    #occasion-button {
        text-decoration: none;
        font-weight: bold;
        color: white;

    }

    .occasion {
        display: inline-block;
    }

    .occasion-image {
        width: 80%;
    }

    .occasion-info {
        width: 80%;
        margin-left: 0%;
    }

    .occasion-info h2 {
        margin: 0%;
    }

    .flavour {
        display: inline-block;
    }

    .flavour-image {
        width: 80%;
    }

    .flavour-info {
        width: 80%;
        margin-left: 0%;
    }

    .flavour-info h2 {
        margin: 0%;
    }


    #flavour-button {
        font-weight: bold;
        text-decoration: none;
        color: white;

    }

    .custom {
        display: inline-block;
    }

    .custom-image {
        width: 80%;
    }

    .custom-info h2 {
        margin: 0%;
    }

    .custom-info {
        width: 80%;
        margin-left: 0%;
    }

    #custom-button {
        font-weight: bold;
        text-decoration: none;
        color: white;

    }

    /**client section gallery**/

    .our-clients {
        background-color: #ededed;
        padding: 1rem;
        margin-top: 4rem;
    }

    /*I used a grid to have more control on the elements*/

    .logo-gallery {
        display: grid;
        grid-template-columns: auto auto auto auto;
        flex-wrap: wrap;
        max-width: 100%;
        justify-content: center;
    }

    .stripe img {
        width: 100%;
        height: 18px;
    }

    div.contact {
        width: 70%;
        float: left;
    }

    .social-media {
        display: flex;
        float: left;
    }

    .fa-brands {
        margin-top: 1rem;
        padding: 1rem;
        font-size: 2rem;
        color: #cccccc;
        margin-left: 2rem;
    }
}
