html {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    width: 600px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.mainlogo img {
    width: 30%;
    margin-top: 1rem;
}

nav ul {
    display: flex;
    width: -40%;
    justify-content: flex-end;
}

nav li {
    margin-right: 2rem;
    list-style: none;
}

nav ul a {
    text-decoration: none;
    color: #777777;
}

nav li:nth-child(1) {
    padding-right: 1rem;
    border-right: solid grey;
}

nav li:nth-child(2) {
    padding-right: 1rem;
    border-right: solid grey;
}

.search {
    color: #C62F5A;
    font-size: 2rem;
    display: block;
    position: absolute;
    top: 43px;
    right: 450px;
}

.cart {
    color: #C62F5A;
    font-size: 2rem;
    display: block;
    position: absolute;
    top: 43px;
    right: 400px;
}

.banner {
    width: 100%;
}

/*Put this banner as a background image to position some banner elements on top of it*/

.main-banner {
    background-image: url("/images/PRIDE.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: -250px;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-banner h1 {
    color: white;
    font-size: 2rem;
    padding-left: 15rem;
    padding-right: 2rem;
    padding-top: 14rem;
    text-align: right;
}

.main-banner p {
    color: white;
    padding-left: 16rem;
}

.banner-button {
    color: white;
    background-color: #E6807A;
    width: fit-content;
    padding: 1rem;
    margin-left: 23.4rem;
    border-radius: 0.5rem;
    font-weight: 700;
}

.banner-button a {
    color: white;
    text-decoration: none;
}

.banner-button a:hover {
    color: rgb(252, 230, 238);
}

/*Added the width to the container of the whole section*/

.categories {
    width: 100%;
}

.occasion {
    display: flex;
    flex-direction: row;
}

.ocassion-image {
    width: 50%;
    padding-top: 2rem;
}

.ocassion-image img {
    width: 100%;
}

.occasion-info {
    width: 50%;
    padding: 1rem;
}

#occasion-button {
    background-color: #C62E5A;
    padding: 1rem;
    border-radius: 0.5rem;
    position: absolute;
}


.occasion-info h2 {
    color: #C62E5A;
}


#occasion-button:hover {
    color: white;
}

/*Flavour category*/

.flavour {
    display: flex;
    flex-direction: row-reverse;
}

.flavour-image {
    width: 50%;
    padding-top: 2rem;
}

.flavour-image img {
    width: 100%;
}

.flavour-info {
    width: 50%;
    padding: 1rem;
}

#flavour-button {
    background-color: #843455;
    padding: 1rem;
    border-radius: 0.5rem;
    position: absolute;
}


.flavour-info h2 {
    color: #843455;
}


#flavour-button:hover {
    color: white;
}

/*Custom Category*/

.custom {
    display: flex;
    flex-direction: reverse;
}

.custom-image {
    width: 50%;
    padding-top: 2rem;
}

.custom-image img {
    width: 100%;
}

.custom-info {
    width: 50%;
    padding: 1rem;
}

#custom-button {
    background-color: #41817F;
    padding: 1rem;
    border-radius: 0.5rem;
    position: absolute;
}


.custom-info h2 {
    color: #41817F;
}


#custom-button:hover {
    color: white;
}

/*clients section*/

.our-clients {
    background-color: #ededed;
    padding: 1rem;
    margin-top: 2rem;
}

.our-clients h2 {
    text-align: center;
}

.our-clients p {
    display: none;
}

.logo-gallery {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    justify-content: center;
}

div.logo {
    background-color: gainsboro;
    margin: 1rem;
    border-radius: 1rem;
    padding: 1rem;
}

#logometro {
    height: 132px;
    background-color: gainsboro;
}

#logometro img {
    margin-top: 2rem;
}

.logo img {
    width: 100px;
}

.stripe img {
    width: 600px;
    height: 18px;
}

.contact ul {
    padding-left: 0px;
}

.contact li {
    list-style: none;
}

.contact li a {
    text-decoration: none;
    color: grey;
}


/*Footer styles*/

div.contact {
    width: 300px;
    float: left;
}

.social-media {
    display: flex;
    float: left;
}

.fa-brands {
    margin-top: 1rem;
    padding: 1rem;
    font-size: 2rem;
    color: #cccccc;
    margin-left: 2rem;
}

@media screen and (min-width:1080px) {
    body {
        margin: 0 auto;
        width: 1080px;
    }
    
    .mainlogo img {
        width: 30%;
        margin: 0 auto;
    }
    nav ul {
        justify-content: center;
        margin: 0 auto;
    }
    
    nav li {
        margin-right: 2rem;
        list-style: none;
    }
    
    nav ul a {
        text-decoration: none;
        color: #777777;
        font-size: 1.5rem;
    
    }
    
    nav li:nth-child(1) {
        padding-right: 1rem;
        border-right: solid grey;
    }
    
    nav li:nth-child(2) {
        padding-right: 1rem;
        border-right: solid grey;
    }
}

